@model IEnumerable<getadoc.Models.Doctors>
@using getadoc.Models.DbContexts
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneno)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneno)
            </td>
            <td>
     @Html.ActionLink("Edit your Profile", actionName: "Edit", controllerName: "Doctors", routeValues: new { id=item.id }, htmlAttributes: new { @class = "btn btn-primary navbar text-center" })
                @*Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                @Html.ActionLink("Details", "Details", new { id = item.id })*@
            </td>
        </tr>
    }

</table>
