@model getadoc.Models.diseaseData

@{
    ViewBag.Title = "diseaseDetails";
}

<h2>diseaseDetails</h2>

<div>
    <h4>diseaseData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symptom1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symptom2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symptom3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symptom4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cure)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "viewDiseaes")
</p>
