@model IEnumerable<getadoc.Models.Patients>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add a new Patient", "Create",routeValues:null,htmlAttributes:new { @class="btn btn-info"})
	@Html.ActionLink("Profile Settings", "patientProfile", routeValues: null, htmlAttributes: new { @class = "btn btn-info" }) 
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.symptoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.symptoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },htmlAttributes:new { @class ="btn btn-info"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, htmlAttributes: new { @class = "btn btn-info" })
        </td>
    </tr>
}
</table>
<br/>
@Html.ActionLink("Book an Appointment", actionName: "Appointment", routeValues: null, htmlAttributes: new { @class = "btn btn-info" }) |
@Html.ActionLink("Cancel an Appointment", actionName: "cancelAppointment", routeValues: null, htmlAttributes: new { @class = "btn btn-info" }) |
@Html.ActionLink("Types of Diseases", actionName: "viewDiseases", routeValues: null, htmlAttributes: new { @class = "btn btn-info" }) |
@Html.ActionLink("Find A Doctor", actionName: "connectDoctor", routeValues: null, htmlAttributes: new { @class = "btn btn-info" }) |

@Html.ActionLink("Feedback", actionName: "feedback", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" }) 