
@{
    ViewBag.Title = "Index";
}

<h2>Welcome @User.Identity.Name</h2>

<div class="container-fluid">
    <a href="~/Doctors/Create" class="btn btn-default btn-group-lg" >
        @Html.Partial("_doctorProfile")
    </a>
</div>
<br/>
<div class="container">
    <div class="form-group">
        <div class="body-content">
                @Html.ActionLink("View Patients", actionName:"viewPatients",controllerName:"Doctors",routeValues:null,htmlAttributes:new { @class = "btn btn-primary navbar text-center" })
                @Html.ActionLink("Appointments", actionName: "Index", controllerName: "Patients", routeValues: null, htmlAttributes: new { @class = "btn btn-primary navbar text-center" })
                @Html.ActionLink("Diseases and Stuff", actionName: "viewDiseases", controllerName: "Doctors", routeValues: null, htmlAttributes: new { @class = "btn btn-primary navbar text-center", @target = "_blank"})
        </div>
    </div>
</div>
